<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro.css">
    <title>Cadastrar Livros</title>
</head>
<body>
  <form class="form">
    <p class="form-title">Cadastrar Livro</p>

    <div class="input-container">
        <input type="text" id="lv" placeholder="Nome do Livro">
        <span></span>
    </div>

    <div class="input-container">
        <input type="text" id="at" placeholder="Nome do Autor">
        <span></span>
    </div>

    <div class="input-container">
        <input type="text" id="rs" placeholder="Mini Resumo">
        <span></span>
    </div>

    <div class="input-container">
        <select id="categoria">
            <option value="">Selecione a Categoria</option>
            <option value="Romance">Romance</option>
            <option value="Ação">Ação</option>
            <option value="Ficção">Ficção</option>
            <option value="Fantasia">Fantasia</option>
            <option value="Mistério">Mistério</option>
            <option value="Terror">Terror</option>
            <option value="Suspense">Suspense</option>
            <option value="Biografia">Biografia</option>
            <option value="História">História</option>
            <option value="Ciência">Ciência</option>
            <option value="Tecnologia">Tecnologia</option>
            <option value="Autoajuda">Autoajuda</option>
            <option value="Literatura Brasileira">Literatura Brasileira</option>
            <option value="Poesia">Poesia</option>
            <option value="Drama">Drama</option>
            <option value="Infantil">Infantil</option>
            <option value="Jovem Adulto">Jovem Adulto</option>
            <option value="Psicologia">Psicologia</option>
            <option value="Filosofia">Filosofia</option>
            <option value="Economia">Economia</option>
            <option value="Arte">Arte</option>
            <option value="Religião">Religião</option>
            <option value="Espiritualidade">Espiritualidade</option>
        </select>
    </div>

    <button type="button" class="submit" onclick="Cadastrar()">
        Cadastrar Livro
    </button>
</form>


</body>
</html>