<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inicio.css">
    
    <title>Estante Digital</title>
</head>
<body>

  <header class="topo">
      <div class="container header-content">
        <h3>Estante Digital</h3>
        <h5>O mundo dos livros em poucos minutos.</h5>
        <button class="botaocadas" onclick="window.location.href='cadastrar.html'">Cadastrar Livro</button>
      </div>
  </header>
  
    <div class="cardstodo">

      <div class="cardind">
        <div class="img">
          <img src="../img/image.png" alt="Capa do livro Leitura de Verão">
        </div>

              <div class="card-dentro">
                <h5 class="titulolivro">Leitura de Verão - Emily Henry</h5>
                <p><strong>Categoria: </strong>Romance</p>
                <p class="card-text">
                  No verão, a leitura se torna ainda mais prazerosa! Seja na praia, no parque ou na varanda, é a estação perfeita para relaxar com um bom livro.
                </p>
              </div>

      </div>
          
           
            <div class="cardind">
              <div class="img">
                <img src="../img/image1.png" alt="Capa do livro Pessoas que Conhecemos nas Férias">
              </div>

              <div class="card-dentro">
                <h5 class="titulolivro">Pessoas que Conhecemos nas Férias - Emily Henry</h5>
                <p><strong>Categoria: </strong>Romance</p>
                <p class="card-text">
                    Nilsen, dois melhores amigos que são opostos em todos os sentidos. Ela é uma criança rebelde com uma sede insaciável por viagens.
                </p>
              </div>
            </div>
            
  
<script src="../js/app.js"></script>

</body>
</html>
