body {
font-family: Arial, sans-serif;
background-color: #f9f9f9e0;
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
}


.Cads {
background-color: #fff;
padding: 1.5rem;
width: 100%;
max-width: 350px;
border-radius: 1rem;
display: flex;
flex-direction: column;
align-items: center;
}

.input input, select {
width: 100%;
padding: 1rem;
border: 1px solid #e5e7eb;
border-radius: 0.5rem;
font-size: 0.875rem;
box-sizing: border-box; 
margin-bottom: 1rem;
outline: none;
}

.title {
font-size: 1.25rem;
font-weight: 600;
color: #000;
margin-bottom: 1rem;
text-align: center;
}


.botao {
display: block;
width: 100%;
padding: 0.75rem 1.25rem;
background-color: #4F46E5;
color: #ffffff;
font-size: 0.875rem;
font-weight: 500;
border: none;
border-radius: 0.5rem;
text-align: center;
}

.Voltar {
position: fixed;
top: 15px;
left: 15px;
background-color: #667eea;
color: #ffffff;
padding: 8px 12px;
border-radius: 8px;
font-size: 0.9rem;
font-weight: 600;
text-decoration: none;
}
