body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9e0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}




.Cads {
    background-color: #fff;
    padding: 1.5rem;
    width: 100%;
    max-width: 350px;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
    text-align: center;
}

.input input,
select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    box-sizing: border-box; 
    margin-bottom: 1rem;
    outline: none;
}

.submit {
    display: block;
    width: 100%;
    padding: 0.75rem 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.submit:hover {
    background-color: #3e38d8;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4F46E5; 
    color: white;
    z-index: 1000;
    box-sizing: border-box;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
}

.btn-cadastrar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #4F46E5;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@media (max-width: 1200px) {
    .card {
        width: 220px;
    }
}

@media (max-width: 992px) {
    .galeria {
        justify-content: flex-start;
    }
    .card {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .topo h3 {
        font-size: 28px;
    }
    .topo h5 {
        font-size: 16px;
    }
    .galeria {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .topo h3 {
        font-size: 24px;
    }
    .topo h5 {
        font-size: 14px;
    }
}
