<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login - Cadastro de Livros</title>
</head>
<body>
    
  <form class="Cads">
  
        <p class="title">Cadastre-se para poder acessar o sistema</p>

        <label for="tipoUsuario">Escolha seu tipo de usuário:</label>
        <select>
            <option value="">Selecione...</option>
            <option value="Escola">Escola</option>
            <option value="Bibliotecarios">Bibliotecários</option>
            <option value="Leitores">Leitores</option>
        </select>

        <div class="input">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="senha" placeholder="Senha" required>
        </div>

       <button type="button" class="botao" onclick="window.location.href='inicio.html'">Entrar</button>


    </form>

</body>
</html>